src/test/java/Datos.dtd

        <!ELEMENT persona (datos|comentario)*>
        <!ATTLIST persona
                nacimiento CDATA #REQUIRED>
        <!ELEMENT datos (nombre|apellidos|dni)*>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT apellidos (#PCDATA)>
        <!ELEMENT dni (#PCDATA)>
        <!ELEMENT comentario (#PCDATA)>
